@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8FAFC;
  --foreground: #0B1F3A;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
